.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-height: 842px;
    margin: auto;
    background-color: white;
    font-family: sans-serif;
    background-color: #d9d9d9;
    padding-top: 1rem;
}

.top {
    display: flex;
    padding: 0.5rem;
    padding-right: 0;
}

.ImgCol{
    flex: 30%;
    width: 30%;
}

.EmpCol{
    flex: 70%;
    width: 70%;
    text-align: center;
}

.bottom {
    flex: 1;
    box-sizing: border-box;
    padding: 0.5rem;
}

.enco1 {
    text-align: right;
    width: 100%;
}

.encoalign{
    width: 100%;
    min-height: 100%;
    float: left;
}

.SplSpace{
    padding-right: 0.2rem;
}

.img1 {
    width: 154px;
    height: 180px;
    float: right;
}

.empname {
    width: 90%;
    float: right;
}

.bottomleft{
    width: 50%;
    float: left;
}

.bottomright{
    width: 50%;
    float: right;
}

.profilealign{
    text-align: center;
    padding: auto 0.5rem;
    font-size: 0.8rem;
}

.profilesz{
    font-size: 0.6rem;
}

.profilesize{
    font-size: 0.8rem;
    padding-bottom: 0;
    text-transform: capitalize;
}

.MainName{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
}

.MainProf{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8;
    margin: 0;
}

.linespace{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0.4rem auto;
}

.titlesize{
    font-size: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

.summary{
    background-color: #545454;
    border-style: solid;
    border-color: #545454;
    color: white;
    text-align: left;
    min-height: 8rem;
    padding-left: 0.5rem;
}

.centerer{
    font-family: sans-serif;
    text-align: center;
}

.mainheader{
    color: goldenrod;
    text-align: center;
    font-size: large;
}

.AIresume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
}

.Chatgptcol{
    width: 50%;
    color: goldenrod;
    font-size: large;
}

.chatgptborder{
    border-radius: 25px;
    margin: auto;
    width: 85%;
    background-color: #1e1e1e;
    border: #1e1e1e;
    padding: 10px;
    text-align: center;
    min-height: 842px;
}

.resumecol{
    width: 50%;
    padding: 0;
}

.navigation_col{
    margin: 0.75rem;
    display: flex;
    padding: 1rem;
}

.navigation_col1{
    display: inline-block;
    flex: 50%;
    width: 50%;
    text-align: center;
}

.navigation_col2{
    display: inline-block;
    flex: 50%;
    width: 50%;
    text-align: center;
}


.bottom{
    padding: 1rem;
}

.MobileView {
    display: none;
}

.mv{
    display: none;
}

@media only screen and (max-width: 540px) {
    .Logo-Rp{
        width: 70%;
        height: 70%;
    }
    .mv{
        display: block;
    }
    .img1{
        height: 95%;
        width: 90%;
    }
    .m245{
        display: none;
    }
    .Chatgptcol {
        width: 100%;
        color: goldenrod;
    }
    .chatgptborder{
        min-height: auto;
    }
}