.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 600px;
    min-height: 842px;
    margin: auto;
    background-color: white;
    font-family: sans-serif;
    background-color: #d9d9d9;
}

.top {
    display: flex;
    padding: 0.5rem;
    padding-right: 0;
}

.ImgCol{
    flex: 40%;
    width: 40%;
}

.EmpCol{
    flex: 60%;
    width: 60%;
    text-align: center;
}

.bottom {
    flex: 1;
    box-sizing: border-box;
    padding: 0.5rem;
}

.enco1 {
    text-align: right;
    width: 100%;
}

.encoalign{
    width: 100%;
    min-height: 100%;
    float: left;
}

.SplSpace{
    padding-right: 0.2rem;
}

.img1 {
    width: 90%;
    height: 95%;
    float: right;
}

.empname {
    width: 90%;
    float: right;
}

.div21{
    width: 50%;
    float: left;
}

.reducer{
    margin: 0;
}

.div22{
    width: 50%;
    float: right;
}

.profilealign{
    text-align: center;
    padding: auto 0.5rem;
}

.linehg{
    font-size: 0.8rem;
}

.profilesz{
    font-size: 0.6rem;
}

.profilesize{
    font-size: 0.8rem;
    padding-bottom: 0;
    text-transform: capitalize;
}

.MainName{
    font-size: 1rem;
    margin: 0;
}

.MainProf{
    font-size: 0.8;
    margin: 0;
}

.NameDiv{
    text-align: center;
}

.linespace{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.linespacename{
    font-size: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
}

.boxes{
    background-color: #545454;
    border-style: solid;
    border-color: #545454;
    color: white;
    text-align: left;
    min-height: 8rem;
    padding-left: 0.5rem;
}

.spacepad{
    margin: 0.4rem auto;
}

.MobileView{
    display: none;
}

.centerer{
    font-family: sans-serif;
    text-align: center;
}

.bottom{
    padding: 1rem;
}

.mv{
    display: none;
}

@media only screen and (max-width: 540px) {
    .Logo-Rp{
        width: 70%;
        height: 70%;
    }
    .mv{
        display: block;
    }
    .img1{
        height: 95%;
        width: 90%;
    }
    .m245{
        display: none;
    }
}