body{
    background-color: black;
}

img{
    width: 50%;
    height: 50%;
}
.enco{
    text-align: center;
}

.row{
    height: max-content;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0 10rem;
    display: flex;
}

.column{
    flex: 50%;
    margin: 0;
    width: 49%;
    height: auto;
    display: inline-block;
}

.column-Rp{
    flex: 100%;
    margin: 0;
    width: 100%;
    height: auto;
    display: inline-block;
}

.TextAlignments{
    text-align: center;
    font-family: sans-serif;
}

.fontBasics{
    color: #a7791c;
    margin: 0;
    padding: 0;

}

.Title1{
    font-size: 3rem;
}

.Title2{
    font-size: 2rem;
}

.Title3{
    font-size: 1.5rem;
}

.InfoSide{
    padding: 6rem 1rem;
}

.FormSide{
    background-color: black;
    padding: 1rem 7rem;
}

.FormSide-RP{
    background-color: black;
    padding: 1rem 7rem;
}

.main{
    background-color: white;
    padding: 6rem 3rem;
    border-radius: 2rem;
    min-height: 60vh;
}

h2{
    font-family: sans-serif;
}

.InputField{
    border-bottom: solid 0.2rem rgba(0,0,0,0.5);
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-family: sans-serif;
}

.InputBasics{
    border: none;
    outline: none;
    font-size: 1.2rem;
    min-width: 90%;
    max-width: 90%;
    font-family:sans-serif;
}

.IconBasics{
    font-size: 1.2rem;
    padding-right: 0.5rem;
    max-height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0.1rem;
}

.Logo-Rp{
    max-width: 20%;
    max-height: 20%;
}

.MobileLogo{
    display: none;
    text-align: center;
}

.Navigator{
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    background: #a7791c;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
}

.Others{
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    background: #a7791c;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    text-align: center;
    margin: 0.75rem;
}

.FloatR{
    float: right;
    margin: 1rem auto;
}

.FloatL{
    float: left;
    margin: 1rem auto;
}

.NaviIcon{
    margin: auto 0.5rem;
}

.ButtonBasics{
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    background: #a7791c;
}

.Generate{
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    background: #a7791c;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    width: 100%;
}

.LearnMore{
    border: none;
    text-align: center;
    background: #be8a27;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

.InfoButtonDiv{
    margin-top: 1rem;
    text-align: center;
}

#InputTag{
    display: none;
}

.BaseInputName{
    cursor: pointer;
}

.BaseInputName , .BaseInputIcon , .Photo_File_Name{
    display: inline;
}

@media only screen and (max-width: 540px) {
    .enco{
        height: 20%;
        width: 20%;
    }
    .img{
        width: 30%;
        height: 30%;
    }
    .FitWidth{
        width: 100%;
    }
    .row{
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        margin-top: 1rem;
    }
    .column {
        flex: 100%;
        width: 100%;
        height: fit-content;
    }
    .MobileLogo{
        display: block;
        width: 100%;
    }
    .InfoSide{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .Title1{
        font-size: 2rem;
    }
    .Title2{
        font-size: 1.2rem;
    }
    .Title3{
        font-size: 1rem;
    }
    .LearnMore{
        font-size: large;
    }
    .InputBasics{
        font-size: large;
        width: 80%;
    }
    .IconBasics{
        font-size: large;

    }
    .FormSide{
        padding: 0;
    }
    .FormSide-RP{
        padding: 0;
        max-width: 100%;
    }
    .Generate{
        font-size: large;
    }
}