.ButtonBasics{
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 auto;
    font-family: sans-serif;
}

.Download{
    background-color: #a7791c;
    color: white;
    font-size: large;
    margin: 0;
    padding: 0.1rem 1rem;
    border-radius: 2rem;
}

.Close{
    left: 12%;
    color: #a7791c;
    font-size: x-large;
}

.PopupCenterer{
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .ButtonBasics{
        margin: 0 auto;
        margin-bottom: 0.1rem;
    }
}